@model Deviser.Core.Data.Entities.Page
@inject IScopeService scopeService
@using System.Security.Claims
@using Deviser.Core.Library
@using Deviser.Core.Common;
@{
    Layout = null;
    var pageContext = scopeService.PageContext;
    PageTranslation translation = Model.PageTranslation.FirstOrDefault(t => t.Locale == pageContext.CurrentCulture.ToString());

}

@if (Model.PageLevel == 0)
{
    <li>
        <a href="/@Globals.HomePageUrl">
            <i class="fa fa-home"></i>
            <span class="title">Back to Home</span>
        </a>
    </li>
    @foreach (var page in Model.ChildPage)
    {
        translation = page.PageTranslation.FirstOrDefault(t => t.Locale == pageContext.CurrentCulture.ToString());
        string activeClass = (page.IsActive || page.IsBreadCrumb) ? "active open" : "";
        if (translation != null)
        {
            translation.URL = Globals.SiteRoot + translation.URL;
            <li class=" @activeClass ">
                <a href="#"> @translation.Name<span class="fa arrow"></span></a>
                @if (page.ChildPage != null && page.ChildPage.Count > 0)
                {
                    @Html.Partial(string.Format(Globals.MenuStylePath, "Admin"), page)
                }
            </li>
        }
    }
}
else if (Model.PageLevel == 1)
{
    <ul class="nav nav-second-level collapse">
        @foreach (var page in Model.ChildPage)
        {
            string activeClass = (page.IsActive || page.IsBreadCrumb) ? "active open" : "";
            translation = page.PageTranslation.FirstOrDefault(t => t.Locale == pageContext.CurrentCulture.ToString());
            var hasChild = page.ChildPage != null && page.ChildPage.Count > 0;
            if (translation != null)
            {
                translation.URL = Globals.SiteRoot + translation.URL;
                <li class="@activeClass">
                    <a href="@translation.URL">
                        @translation.Name
                        @if(hasChild){
                            <span class="fa arrow"></span>
                        }
                    </a>
                    @if (hasChild)
                    {
                        @Html.Partial(string.Format(Globals.MenuStylePath, "Admin"), page)
                    }
                </li>
            }
        }
    </ul>
}
else if (Model.PageLevel == 2)
{
    <ul class="nav nav-third-level">
        @foreach (var page in Model.ChildPage)
        {
            string activeClass = (page.IsActive || page.IsBreadCrumb) ? "active open" : "";
            translation = page.PageTranslation.FirstOrDefault(t => t.Locale == pageContext.CurrentCulture.ToString());
            if (translation != null)
            {
                translation.URL = Globals.SiteRoot + translation.URL;
                <li class="@activeClass">
                    <a href="@translation.URL">
                        @translation.Name
                    </a>
                    @if (page.ChildPage != null && page.ChildPage.Count > 0)
                    {
                        @Html.Partial(string.Format(Globals.MenuStylePath, "Admin"), page)
                    }
                </li>
            }
        }
    </ul>
}