@model Deviser.Core.Data.Entities.Page
@using System.Security.Claims
@using Deviser.Core.Library
@{
    Layout = null;
    AppContext deviserContext = (AppContext)ViewBag.AppContext;  //HttpContext.Current.Session["AppContext"];
    PageTranslation translation = Model.PageTranslation.FirstOrDefault(t => t.Locale == deviserContext.CurrentCulture.ToString());
    
}

@if (Model.PageLevel == 0)
{
    
    <li class="sidebar-toggler-wrapper hide">
        <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
        <div class="sidebar-toggler"> </div>
        <!-- END SIDEBAR TOGGLER BUTTON -->
    </li>

    @*<li class="nav-item start active open">
        <a href="javascript:;" class="nav-link nav-toggle">
            <i class="icon-home"></i>
            <span class="title">Dashboard</span>
            <span class="selected"></span>
            <span class="arrow open"></span>
        </a>
        <ul class="sub-menu">
            <li class="nav-item start active open">
                <a href="index.html" class="nav-link ">
                    <i class="icon-bar-chart"></i>
                    <span class="title">Dashboard 1</span>
                    <span class="selected"></span>
                </a>
            </li>
            <li class="nav-item start ">
                <a href="dashboard_2.html" class="nav-link ">
                    <i class="icon-bulb"></i>
                    <span class="title">Dashboard 2</span>
                    <span class="badge badge-success">1</span>
                </a>
            </li>
            <li class="nav-item start ">
                <a href="dashboard_3.html" class="nav-link ">
                    <i class="icon-graph"></i>
                    <span class="title">Dashboard 3</span>
                    <span class="badge badge-danger">5</span>
                </a>
            </li>
        </ul>
    </li>*@
    @foreach (var page in Model.ChildPage)
    {
        translation = page.PageTranslation.FirstOrDefault(t => t.Locale == deviserContext.CurrentCulture.ToString());
        string activeClass = (page.IsActive || page.IsBreadCrumb) ? "active open" : "";
        if (translation != null)
        {
            <li class="nav-item start  @activeClass">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="icon-home"></i>
                    <span class="title">@translation.Name</span>
                    <span class="selected"></span>
                    <span class="arrow open"></span>
                </a>
                @if (page.ChildPage != null && page.ChildPage.Count > 0)
                {
                    @Html.Partial(string.Format(Globals.MenuStylePath, "Admin"), page)
                }
            </li>
        }
    }



}
else if (Model.PageLevel == 1)
{
    <ul class="sub-menu">
        @foreach (var page in Model.ChildPage)
        {
            string activeClass = (page.IsActive || page.IsBreadCrumb) ? "active open" : "";
            translation = page.PageTranslation.FirstOrDefault(t => t.Locale == deviserContext.CurrentCulture.ToString());
            if (translation != null)
            {
                <li class="nav-item start  @activeClass">
                    <a href="@translation.URL" class="nav-link ">
                        <span class="title">@translation.Name</span>
                    </a>
                </li>
            }
        }
    </ul>
}


@*<a href="javascript:;" class="nav-link nav-toggle">
    <i class="icon-home"></i>
    <span class="title">@translation.Name</span>
    <span class="selected"></span>
    <span class="arrow open"></span>
</a>
<ul class="sub-menu">
    @foreach (var page in Model.ChildPage)
    {
        translation = page.PageTranslation.FirstOrDefault(t => t.Locale == deviserContext.CurrentCulture.ToString());
        if (translation != null)
        {
            <li class="nav-item start ">
                <a href="@translation.URL" class="nav-link ">
                    <span class="title">@translation.Name</span>
                </a>
            </li>
        }
    }
</ul>

<li class="heading">
    <h3 class="uppercase">Features</h3>
</li>*@