@model Deviser.Core.Data.Entities.Page
@using System.Security.Claims
@using Deviser.Core.Library
@using Deviser.Core.Common;
@using AppContext = Deviser.Core.Library.AppContext;
@{
    Layout = null;
    AppContext deviserContext = (AppContext)ViewBag.AppContext;  //HttpContext.Current.Session["AppContext"];
    PageTranslation translation = Model.PageTranslation.FirstOrDefault(t => t.Locale == deviserContext.CurrentCulture.ToString());
    
}

@if (Model.PageLevel == 0)
{
    <li>
        <a href="/@Globals.HomePageUrl">
            <i class="fa fa-home"></i>
            <span class="title">Back to Home</span>            
        </a>
    </li>
    @foreach (var page in Model.ChildPage)
    {
        translation = page.PageTranslation.FirstOrDefault(t => t.Locale == deviserContext.CurrentCulture.ToString());
        string activeClass = (page.IsActive || page.IsBreadCrumb) ? "active open" : "";
        if (translation != null)
        {
            translation.URL = Globals.SiteRoot + translation.URL;
            <li class=" @activeClass">
                <a href="#"> @translation.Name<span class="fa arrow"></span></a>
                @if (page.ChildPage != null && page.ChildPage.Count > 0)
                {
                    @Html.Partial(string.Format(Globals.MenuStylePath, "Admin"), page)
                }
            </li>
        }
    }
}
else if (Model.PageLevel == 1)
{
    <ul class="nav nav-second-level collapse">
        @foreach (var page in Model.ChildPage)
        {
            string activeClass = (page.IsActive || page.IsBreadCrumb) ? "active open" : "";
            translation = page.PageTranslation.FirstOrDefault(t => t.Locale == deviserContext.CurrentCulture.ToString());
            if (translation != null)
            {
                translation.URL = Globals.SiteRoot + translation.URL;
                <li class="@activeClass">
                    <a href="@translation.URL">
                        @translation.Name
                    </a>
                </li>
            }
        }
    </ul>
}