@model Deviser.Core.Data.Entities.Page
@using System.Security.Claims
@using Deviser.Core.Library
@{
    Layout = null;
    AppContext deviserContext = (AppContext)ViewBag.AppContext;  //HttpContext.Current.Session["AppContext"];
    PageTranslation translation = Model.PageTranslation.FirstOrDefault(t => t.Locale == deviserContext.CurrentCulture.ToString());
    
}

@if (Model.PageLevel == 0)
{
    
    <li class="sidebar-toggler-wrapper hide">
        <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
        <div class="sidebar-toggler"> </div>
        <!-- END SIDEBAR TOGGLER BUTTON -->
    </li>
    <li class="nav-item">
        <a href="/@Globals.HomePageUrl">
            <i class="icon-home"></i>
            <span class="title">Back to Home</span>            
        </a>       
    </li>
    @foreach (var page in Model.ChildPage)
    {
        translation = page.PageTranslation.FirstOrDefault(t => t.Locale == deviserContext.CurrentCulture.ToString());
        string activeClass = (page.IsActive || page.IsBreadCrumb) ? "active open" : "";
        if (translation != null)
        {
            translation.URL = Globals.SiteRoot + translation.URL;
            <li class="nav-item start  @activeClass">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="icon-home"></i>
                    <span class="title">@translation.Name</span>
                    <span class="selected"></span>
                    <span class="arrow open"></span>
                </a>
                @if (page.ChildPage != null && page.ChildPage.Count > 0)
                {
                    @Html.Partial(string.Format(Globals.MenuStylePath, "Admin"), page)
                }
            </li>
        }
    }
}
else if (Model.PageLevel == 1)
{
    <ul class="sub-menu">
        @foreach (var page in Model.ChildPage)
        {
            string activeClass = (page.IsActive || page.IsBreadCrumb) ? "active open" : "";
            translation = page.PageTranslation.FirstOrDefault(t => t.Locale == deviserContext.CurrentCulture.ToString());
            if (translation != null)
            {
                translation.URL = Globals.SiteRoot + translation.URL;
                <li class="nav-item start  @activeClass">
                    <a href="@translation.URL" class="nav-link ">
                        <span class="title">@translation.Name</span>
                    </a>
                </li>
            }
        }
    </ul>
}