<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="DESCRIPTION" content="@ViewData["Description"]" />
    <meta name="KEYWORDS" content="@ViewData["Keywords"]" />
    <meta name="ROBOTS" content="INDEX, FOLLOW" />
    <render type="Css"></render>
    
    <link rel="stylesheet" href="~/css/admin/controlbar.css" asp-append-version="true" />
</head>
<body class="header-fixed">
    @RenderBody()
    

    @RenderSection("scripts", required: false)
    <render type="Script"></render>
</body>
</html>
