@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@using Deviser.Core.Library.Services;
@using User = Deviser.Core.Data.Entities.User

@model Deviser.Modules.Security.Models.AccountViewModels.LoginViewModel
@inject SignInManager<User> SignInManager
@inject INavigation navigation
@inject IScopeService scopeService;
@{
    ViewData["Title"] = "Log in";
    Layout = null;
    var pageContext = scopeService.PageContext;
}

<h2>@ViewData["Title"].</h2>
<div class="row">
    <div class="col-md-8">
        <section>
            @*<form asp-route="areaRoute" asp-area="Security" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">*@
            <form sd-module="Security" sd-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="sd-form form-horizontal">
                <h4>Use a local account to log in.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            <label asp-for="RememberMe">
                                <input asp-for="RememberMe" />
                                @Html.DisplayNameFor(m => m.RememberMe)
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-default">Log in</button>
                    </div>
                </div>
                @if (pageContext.SiteSettingInfo.RegistrationEnabled)
                {
                    <p>
                        <a href="@navigation.NavigateUrl(pageContext.SiteSettingInfo.RegistrationPageId)">Register as a new user?</a>
                        @*<a sd-module="Security" sd-action="Register" sd-route-returnurl="@ViewData["ReturnUrl"]" class="sd-ajax-load">Register as a new user?</a>*@
                    </p>

                }
                <p>
                    <a sd-module="Security" sd-action="ForgotPassword" class="sd-ajax-load">Forgot your password?</a>
                </p>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
