@model DynamicContent
@inject IScopeService scopeService
@{
    var pageContext = scopeService.PageContext;
    var currentCulture = pageContext.CurrentCulture.ToString();

    var rootObj = Model.Content;
    var totalItems = 0;
    if (rootObj != null)
    {
        totalItems = rootObj.items.Count;
    }

    var id = "accordion" + Model.PageContent.Id.ToString();

}

@if (rootObj != null)
{
    <div id="@id">
        @foreach (var item in rootObj.items)
        {
            var itemId = "pane" + item.id;
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">
                        <a class="btn btn-link" data-toggle="collapse" data-target="#@itemId" aria-expanded="true" aria-controls="@itemId" role="button" href="">
                            @item.title
                        </a>
                    </h5>
                </div>
                <div id="@itemId" class="collapse @(item.viewOrder == 1 ? "show" : "")" role="tabpanel" data-parent="#@id">
                    <div class="card-body">
                        @item.description

                        <br />

                        Description1: @item.description1

                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <div>
        Please enter the content
    </div>
}