@model DynamicContent
@inject IScopeService scopeService
@{
    var pageContext = scopeService.PageContext;
    var currentCulture = pageContext.CurrentCulture.ToString();

    var rootObj = Model.Content;
    var totalItems = 0;
    if (rootObj != null)
    {
        totalItems = rootObj.items.Count;
    }

    var id = "accordion" + Model.PageContent.Id.ToString();

}

@if (rootObj != null)
{
    var index = 0;
    <div class="accordion" id="@id">
        @foreach (var item in rootObj.items)
        {
            var headingId = $"heading_{item.id}";
            var paneId = $"pane_{item.id}";
            <div class="card">
                <div class="card-header" id="@headingId">
                    <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#@paneId" aria-expanded="true" aria-controls="@paneId">
                        @item.title
                    </button>
                </div>
                <div id="@paneId" class="collapse @(index==0?"show":"")" aria-labelledby="@headingId" data-parent="#@id">
                    <div class="card-body">
                        @Html.Raw(item.description)
                    </div>
                </div>
            </div>
            index++;
        }
    </div>
}
else
{
    <div>
        Please enter the content
    </div>
}