@model DynamicContent
@inject IScopeService scopeService
@inject INavigation navigation
@{
    var pageContext = scopeService.PageContext;
    var currentCulture = pageContext.CurrentCulture.ToString();
    var properties = Model.PageContent.Properties;

    var rootObj = Model.Content;
    var totalItems = 0;
    if (rootObj != null)
    {
        totalItems = rootObj.items.Count;
    }

    var colWidthM = properties.Get("column_width")?.ToString(false);
    colWidthM = string.IsNullOrEmpty(colWidthM) ? "col-md-4" : colWidthM;
}

@if (rootObj != null)
{
    <div class="row">
        @foreach (var item in rootObj.items)
        {
            var itemId = "pane" + item.id;
            var url = "";
            var target = "";
            if (item.link != null && item.link.linkType != null)
            {
                var linkType = (string)item.link.linkType;
                target = item.link.isNewWindow != null && ((bool)item.link.isNewWindow) ? "target=\"_blank\"" : "";
                url = linkType == "PAGE" ? navigation.NavigateUrl((string)item.link.pageId) : (string)item.link.url;
            }

            <div class="@colWidthM">
                <div class="info text-center info-boxed">
                    <div class="icon icon-circle">
                        @Html.Raw(item.icon)
                    </div>
                    <div class="description">
                        <h5 class="info-title">@item.title</h5>
                        <p class="description">@item.description</p>
                        <a href="@url" @target>Read More</a>
                    </div>
                </div>
            </div>
        }
    </div>

}
else
{
    <div>
        Please enter the content
    </div>
}