@using System.Security.Claims
@using Deviser.Core.Library.TagHelpers;
@using Deviser.Core.Library;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string loggedInClass = User.IsSignedIn() ? "logged-in" : "";
}

@Component.Invoke("ControlBar")


<div class="wrapper @loggedInClass">
    <!--=== Header v6 ===-->
    <div class="header-v6 header-white-transparent header-sticky">
        <!-- Navbar -->
        <div class="navbar mega-menu" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="menu-container">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Navbar Brand -->
                    <div class="navbar-brand">
                        <a href="/@Globals.HomePageUrl">
                            <img class="default-logo" src="/images/DeviserLogoDark.png" alt="Logo">
                            <img class="shrink-logo" src="/images/DeviserLogoDark.png" alt="Logo">
                        </a>
                    </div>
                    <!-- ENd Navbar Brand -->
                    <!-- Header Inner Right -->
                    <div class="header-inner-right">
                        @*<ul class="menu-icons-list">
                                <li class="menu-icons shopping-cart">
                                    <i class="menu-icons-style radius-x fa fa-shopping-cart"></i>
                                    <span class="badge">0</span>
                                    <div class="shopping-cart-open">
                                        <span class="shc-title">No products in the Cart</span>
                                        <button type="button" class="btn-u"><i class="fa fa-shopping-cart"></i> Cart</button>
                                        <span class="shc-total">Total: <strong>$0.00</strong></span>
                                    </div>
                                </li>
                                <li class="menu-icons">
                                    <i class="menu-icons-style search search-close search-btn fa fa-search"></i>
                                    <div class="search-open">
                                        <input type="text" class="animated fadeIn form-control" placeholder="Start searching ...">
                                    </div>
                                </li>
                            </ul>*@

                        @Component.Invoke("LanguageSwitcher")
                        
                    </div>
                    <!-- End Header Inner Right -->
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-responsive-collapse">
                    <div class="menu-container">
                        <ul class="nav navbar-nav">
                            @await Html.PartialAsync("_LoginPartial")
                        </ul>
                        <ul sd-nav="Site" sd-nav-page="SystemPageFilter.PublicOnly" class="nav navbar-nav"></ul>
                    </div>
                </div>



            </div><!--/end container-->
        </div>
    </div>
    <!--=== End Header v6 ===-->

    <!-- Interactive Slider v2 -->
    <div class="interactive-slider-v2 img-v4">
        <div class="container">
            <h1>Welcome to Deviser</h1>
            <p>Re-inventing Web Content Management.</p>
        </div>
    </div>
    <!-- End Interactive Slider v2 -->

</div>

@RenderBody()



@section Scripts{
    @RenderSection("scripts", required: false)
}
