@inject IScopeService scopeService
@using System.Security.Claims
@using Deviser.Core.Library.TagHelpers;
@using Deviser.Core.Library;
@using Deviser.Core.Library.Services;
@using Deviser.Core.Common;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var pageContext = scopeService.PageContext;
    var loggedInClass = pageContext.HasPageEditPermission ? "logged-in" : "";
    var pageContentLoggedInClass = pageContext.HasPageEditPermission ? "page-content-logged-in" : "";
}
<require type="Css" priority="10" path="//fonts.googleapis.com/css?family=Open+Sans:400,600,300|Lato:400,700|Titillium+Web:400,600"></require>
<require type="Css" priority="11" path="~/lib/font-awesome/css/font-awesome.css"></require>
<require type="Css" priority="12" path="~/lib/bootstrap/dist/css/bootstrap.css"></require>
<require type="Css" priority="13" path="~/lib/magnific-popup/dist/magnific-popup.css"></require>
<require type="Css" priority="14" path="~/lib/swiper/dist/css/swiper.css"></require>
<require type="Css" priority="16" path="~/css/site.css"></require>

<require type="Script" priority="10" location="Head" path="~/lib/jquery/dist/jquery.js" test="test"></require>
<require type="Script" priority="11" location="Head" path="~/lib/jquery-ui/jquery-ui.js"></require>
<require type="Script" priority="12" location="Head" path="//maps.googleapis.com/maps/api/js?key=AIzaSyDXVNBX9Jhd_CB2UUcRa897oD6rWzRhupQ"></require>
<require type="Script" priority="13" location="Head" path="~/js/infobox.js"></require>
<require type="Script" priority="14" location="Head" path="~/js/sd-maps.js"></require>

<require type="Script" priority="20" path="~/lib/bootstrap/dist/js/bootstrap.js"></require>
<require type="Script" priority="21" path="~/lib/magnific-popup/dist/jquery.magnific-popup.js"></require>
<require type="Script" priority="22" path="~/js/src/app/sd-form-helper.js"></require>
<require type="Script" priority="23" path="~/lib/swiper/dist/js/swiper.js"></require>
<require type="Script" priority="30" path="~/js/site.js"></require>

@await Component.InvokeAsync("ControlBar")

<nav class="navbar navbar-default navbar-fixed-top @loggedInClass">
    <div class="container">
        <div>
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@pageContext.HomePageFullUrl">
                    <img src="/images/DeviserLogoDark.svg" onerror="this.src='/images/DeviserLogoDark.png'; this.onerror=null;" alt="DEVISER">
                    @*<img src="/images/DeviserLogoDark.png" alt="DEVISER">*@
                </a>
            </div>

            <div class="header-top pull-right clearfix">
                <ul class="login pull-right">
                    @await Html.PartialAsync("_LoginPartial")

                </ul>
                <ul class="language-switcher pull-right">
                    @await Component.InvokeAsync("LanguageSwitcher")
                </ul>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul sd-nav="Site" sd-nav-page="PublicOnly" class="nav navbar-nav navbar-right"></ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>

    </div>
    <!-- /.container-fluid -->
</nav>


<div class="@pageContentLoggedInClass">
    @RenderBody()
</div>


@section Scripts{
    @RenderSection("scripts", required: false)
}
