@inject IScopeService scopeService
@inject INavigation navigation
@using System.Security.Claims
@using Deviser.Core.Library

@{
    Layout = null;
    var pageContext = scopeService.PageContext;
    var culture = pageContext.CurrentCulture.Name;
    string permalink = (string)ViewContext.RouteData.Values["permalink"];
    var requestPath = ViewContext.HttpContext.Request.Path.ToString();
    var mode = "view";
    if (requestPath.ToLower().Contains("edit"))
    {
        mode = "edit";
    }
    else if (requestPath.ToLower().Contains("layout"))
    {
        mode = "layout";
    }
}

@if (pageContext.HasPageEditPermission)
{
    <!-- BEGIN HEADER -->
    <div class="dev-controlbar">
        <!-- BEGIN LOGO -->
        <div class="dev-logo">
            <a class="dev-navbar-brand" href="@navigation.NavigateUrl("dd650840-0ee7-46cf-abb5-8a1591dc0936")">
                <img src="/images/DeviserLogoWhite.svg" onerror="this.src='/images/DeviserLogoWhite.png'; this.onerror=null;" alt="DEVISER">
                @*<img src="/images/DeviserLogoWhite.png" alt="DEVISER">*@
            </a>
        </div>
        <!-- END LOGO -->
        <!-- END RESPONSIVE MENU TOGGLER -->
        <!-- BEGIN TOP NAVIGATION MENU -->
        <div class="top-menu">
            <form dev-module="Security" dev-controller="Account" dev-action="LogOff" method="post" id="logoutForm">
                <ul class="dev-navbar-nav">
                    <li class="dropdown dropdown-quick-sidebar-toggler @(mode=="view"?"active":"")">
                        <a href="/@pageContext.CurrentUrl" class="dev-toggle dropdown-toggle">
                            <i class="fa fa-desktop"></i>
                            <span>View</span>
                        </a>
                    </li>
                    <li class="dropdown dropdown-quick-sidebar-toggler @(mode=="edit"?"active":"")">
                        <a href="@Url.Action("Edit", "Page", new { culture=culture, permalink=permalink })" class="dev-toggle dropdown-toggle">
                            <i class="fa fa-pencil-square-o"></i>
                            <span>Edit</span>
                        </a>
                    </li>

                    <li class="dropdown dropdown-quick-sidebar-toggler @(mode=="layout"?"active":"")">
                        <a href="@Url.Action("Layout", "Page", new { culture=culture, permalink=permalink })" class="dev-toggle dropdown-toggle">
                            <i class="fa fa-columns"></i>
                            <span>Layout</span>
                        </a>
                    </li>
                    <li class="dropdown dropdown-user">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            @*<img alt="" class="img-circle" src="../../assets/admin/layout/img/avatar3_small.jpg" />*@
                            <span class="username username-hide-on-mobile">
                                @User.Identity.Name
                            </span>
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dev-dropdown-menu dropdown-menu dropdown-menu-default">
                            <li>
                                <a asp-controller="Manage" asp-action="Index" title="Manage">
                                    <i class="icon-user"></i> My Profile
                                </a>
                            </li>
                            <li>
                                <a href="javascript:document.getElementById('logoutForm').submit()">
                                    <i class="icon-logout"></i> Log Out
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </form>

        </div>
        <!-- END TOP NAVIGATION MENU -->
    </div>
        <!-- END HEADER INNER -->

}
else
{
    @*<ul class="nav navbar-nav navbar-right">
            <li><a asp-controller="Account" asp-action="Register">Register</a></li>
            <li><a asp-controller="Account" asp-action="Login">Log in</a></li>
        </ul>*@
}
