@model DynamicContent
@inject IScopeService scopeService
@inject INavigation navigation
@{
    var pageContext = scopeService.PageContext;
    var currentCulture = pageContext.CurrentCulture.ToString();

    dynamic rootObj = Model.Content;
    int totalItems = 0;
    if (rootObj != null)
    {
        totalItems = rootObj.items.Count;
    }
}

@if (rootObj != null)
{
    <div class="blog-container">
        <div class="row">
            @foreach (var item in rootObj.items)
            {
                var itemId = "pane" + item.id;
                var url = "";
                var target = "";
                if (item.link != null && item.link.linkType != null)
                {
                    var linkType = (string)item.link.linkType;
                    target = item.link.isNewWindow != null && ((bool)item.link.isNewWindow) ? "target=\"_blank\"" : "";
                    url = linkType == "PAGE" ? navigation.NavigateUrl((string)item.link.pageId) : (string)item.link.url;
                }

            <div class="col-md-12 blog-item">
                <p class="title">
                    <h2 class="info-title">@item.title</h2>
                    @if (item.date != null)
                    {
                        var date = (DateTime)@item.date;
                        <span>@date.ToString("dd.MM.yyyy")</span>
                    }
                </p>
                <p class="description">@Html.Raw(item.shortDescription)</p>
                @if (item.imageUrl != null)
                {
                    <figure class="blog-img">
                        <img src="@item.imageUrl" itemprop="thumbnail" alt="@item.imageAltText" />
                    </figure>
                }

                <a href="@url" @target>Read More</a>
            </div>
            }
        </div>
    </div>

}
else
{
    <div>
        Please enter the content
    </div>
}