@using System.Collections.Generic
@using Deviser.Core.Common.DomainTypes
@using Deviser.Modules.Blog.DTO
@using Microsoft.AspNetCore.Routing
@using Newtonsoft.Json
@inject LinkGenerator _linkGenerator;
@model System.Collections.Generic.ICollection<Deviser.Modules.Blog.DTO.Post>

@{
    ViewData["Title"] = "Index";
    if (Context.Request.RouteValues.ContainsKey("tagName") || Context.Request.RouteValues.ContainsKey("categoryName"))
    {
        Layout = "_PostLayout";
    }

    var categories = ViewBag.Categories as ICollection<Category>;
    var moduleContext = ViewBag.ModuleContext as ModuleContext;
    var tags = ViewBag.Tags as ICollection<Tag>;
    var blogName = ViewBag.BlogName;
}

<div class="row">
    <div class="col-8">

        <div class="post-summary">
            @foreach (var post in Model)
            {
                var image = !string.IsNullOrEmpty(post.Thumbnail) ? JsonConvert.DeserializeObject<Image>(post.Thumbnail) : new Image();

                <a href="/modules/Blog/Home/@post.Blog.Name/Post/@post.Slug" class="post-summary-item">
                    <div class="card mb-3">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img src="/@image.ImageUrl" class="card-img" alt="@image.ImageAltText">
                            </div>
                            <div class="col-md-8 content-col">
                                <div class="card-body">
                                    <div class="summary-content">
                                        <h5 class="card-title">@post.Title</h5>
                                        <p class="card-text">@Html.Raw(post.Summary)</p>
                                    </div>
                                    <div class="summary-footer">
                                        <p class="card-text"><small class="text-muted">@post.CreatedOn.ToString("MMM dd, yyyy") | @(post.CreatedByUser!=null? $"{post.CreatedByUser.FirstName} {post.CreatedByUser.LastName}": "")</small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            }
        </div>
    </div>
    <div class="col-4">
        <div class="card categories" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Categories</h5>
                <div class="card-text">
                    @foreach (var category in categories)
                    {
                        <a href="/modules/Blog/Home/@blogName/Post/Category/@category.Name">@category.Name</a>
                    }
                </div>
            </div>
        </div>
        <div class="card tags" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Tags</h5>
                <div class="card-text">
                    @foreach (var tag in tags)
                    {
                        <a href="/modules/Blog/Home/@blogName/Post/Tag/@tag.Name">@tag.Name</a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>