@model Deviser.Core.Common.DomainTypes.MenuItem
@inject IScopeService scopeService
@using System.Security.Claims
@using Deviser.Core.Library
@using Deviser.Core.Common;
@{
    Layout = null;
    var pageContext = scopeService.PageContext;
    //var translation = Model.PageTranslation.FirstOrDefault(t => t.Locale == pageContext.CurrentCulture.ToString());
    //var siteRoot = pageContext.SiteSettingInfo.SiteRoot;
}

@if (Model.PageLevel == 0)
{
    <li>
        <a href="@pageContext.HomePageFullUrl">
            
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
            <span class="title">Back to Home</span>
        </a>
    </li>
    @foreach (var menuItem in Model.ChildMenuItems)
    {
        if (menuItem != null)
        {
            var activeClass = (menuItem.IsActive || menuItem.IsBreadCrumb) ? "mm-active" : "";
            <li class=" @activeClass ">
                <a href="#"> @menuItem.PageName <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg></a>
                @if (menuItem.ChildMenuItems != null && menuItem.ChildMenuItems.Count > 0)
                {
                    @Html.Partial(string.Format(Globals.MenuStylePath, scopeService.PageContext.SelectedTheme, "AdminBS4"), menuItem)
                }
            </li>
        }
    }
}
else if (Model.PageLevel == 1)
{
    <ul class="mm-collapse">
        @foreach (var menuItem in Model.ChildMenuItems)
        {
            if (menuItem != null)
            {
                var activeClass = (menuItem.IsActive || menuItem.IsBreadCrumb) ? "mm-active open" : "";
                <li class="@activeClass">
                    <a href="@(!string.IsNullOrEmpty(menuItem.URL)?menuItem.URL:"#")">
                        @menuItem.PageName
                        @if (menuItem.HasChild)
                        {
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                        }
                    </a>
                    @if (menuItem.HasChild)
                    {
                        @Html.Partial(string.Format(Globals.MenuStylePath, scopeService.PageContext.SelectedTheme, "AdminBS4"), menuItem)
                    }
                </li>
            }
        }
    </ul>
}
else if (Model.PageLevel == 2)
{
    <ul class="mm-collapse">
        @foreach (var menuItem in Model.ChildMenuItems)
        {
            if (menuItem != null)
            {
                var activeClass = (menuItem.IsActive || menuItem.IsBreadCrumb) ? "mm-active open" : "";
                <li class="@activeClass">
                    <a href="@(!string.IsNullOrEmpty(menuItem.URL)?menuItem.URL:"#")">
                        @menuItem.PageName
                    </a>
                    @if (menuItem.ChildMenuItems != null && menuItem.ChildMenuItems.Count > 0)
                    {
                        @Html.Partial(string.Format(Globals.MenuStylePath, scopeService.PageContext.SelectedTheme, "Admin"), menuItem)
                    }
                </li>
            }
        }
    </ul>
}