@inject IScopeService scopeService
@inject INavigation navigation
@inject LinkGenerator linkGenerator
@using System.Security.Claims
@using Deviser.Core.Library
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Routing
@using System

@{
    Layout = null;
    var pageContext = scopeService.PageContext;
    var culture = pageContext.CurrentCulture.Name;
    var permalink = (string)ViewContext.RouteData.Values["permalink"];
    permalink = string.IsNullOrEmpty(permalink) ? "" : Uri.UnescapeDataString(permalink);
    var requestPath = ViewContext.HttpContext.Request.Path.ToString();
    var mode = "view";
    if (requestPath.ToLower().Contains("edit"))
    {
        mode = "edit";
    }
    else if (requestPath.ToLower().Contains("layout"))
    {
        mode = "layout";
    }
}

@if (pageContext.HasPageEditPermission)
{
    <script>
        (function () {

            function init() {
                var toggle = document.querySelector(".dev-dropdown-toggle");
                var menu = document.querySelector(".dev-dropdown");

                /* Activate Submenu */
                function toggleItem() {
                    if (this.classList.contains("dev-dropdown-open")) {
                        this.classList.remove("dev-dropdown-open");
                    } else {
                        this.classList.add("dev-dropdown-open");
                    }
                }

                /* Close Submenu From Anywhere */
                function closeSubmenu(e) {
                    var isClickInside = menu.contains(e.target);

                    if (!isClickInside && document.querySelector(".dev-dropdown-open")) {
                        document.querySelector(".dev-dropdown-open").classList.remove("dev-dropdown-open");
                    }
                }

                /* Event Listeners */
                toggle.addEventListener("click", toggleItem, false);
                toggle.addEventListener("keypress", toggleItem, false);
                document.addEventListener("click", closeSubmenu, false);
            }

            document.addEventListener("DOMContentLoaded", init);
        }());
    </script>


    <div class="dev-controlbar">
        <div class="dev-logo">
            <a class="dev-navbar-brand" href="@navigation.NavigateUrl("dd650840-0ee7-46cf-abb5-8a1591dc0936")">
                <img src="/_content/Deviser.Web/images/DeviserLogoWhite.svg" onerror="this.src='/_content/Deviser.Web/images/DeviserLogoWhite.png'; this.onerror=null;" alt="DEVISER">
            </a>
        </div>
        <div class="controlbar-menu">
            <form dev-module="Security" dev-controller="Account" dev-action="LogOut" method="post" id="logoutForm">
                <a href="/@pageContext.CurrentUrl" class="dev-nav-item dev-nav-link @(mode=="view"?"active":"")">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-monitor"><rect x="2" y="3" width="20" height="14" rx="2" ry="2"></rect><line x1="8" y1="21" x2="16" y2="21"></line><line x1="12" y1="17" x2="12" y2="21"></line></svg>
                    <span>View</span>
                </a>

                <a href="@linkGenerator.GetPathByAction(this.Context, "Edit", "Page", new { permalink=permalink })" class="dev-nav-item dev-nav-link @(mode=="edit"?"active":"")">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit"><path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path><path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path></svg>
                    <span>Edit</span>
                </a>

                <a href="@linkGenerator.GetPathByAction(this.Context, "Layout", "Page", new { permalink=permalink })" class="dev-nav-item dev-nav-link @(mode=="layout"?"active":"")">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-columns"><path d="M12 3h7a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2h-7m0-18H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h7m0-18v18"></path></svg>
                    <span>Layout</span>
                </a>

                <div class="dev-dropdown dev-dropdown-toggle">
                    <a class="dev-nav-link" role="button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                        <span>@User.Identity.Name</span>
                    </a>
                    <div class="dev-dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dev-nav-link" asp-controller="Manage" asp-action="Index" title="Manage">
                            <i class="icon-user"></i> My Profile
                        </a>
                        <a class="dev-nav-link" href="javascript:document.getElementById('logoutForm').submit()">
                            <i class="icon-logout"></i> Log Out
                        </a>
                    </div>
                </div>

            </form>

        </div>
        <!-- END TOP NAVIGATION MENU -->
    </div>
    <!-- END HEADER INNER -->

}
else
{
    @*<ul class="nav navbar-nav navbar-right">
            <li><a asp-controller="Account" asp-action="Register">Register</a></li>
            <li><a asp-controller="Account" asp-action="Login">Log in</a></li>
        </ul>*@
}
